<h1>Timezone Display</h1>
<br>
<div style="display: flex; justify-content: space-around;">
  <button [ngClass]="{'yellow':zone=='PST'}" (click)="zone = 'PST'; diff = -10800000; showtime = true">PST</button>
  <button [ngClass]="{'yellow':zone=='MST'}" (click)="zone = 'MST'; diff = -7200000; showtime = true">MST</button>
  <button [ngClass]="{'yellow':zone=='CST'}" (click)="zone = 'CST'; diff = -3600000; showtime = true">CST</button>
  <button [ngClass]="{'yellow':zone=='EST'}" (click)="zone = 'EST'; diff = 0; showtime = true">EST</button>
  <button [ngClass]="{'yellow':zone=='Clear'}" (click)="zone = 'Clear'; showtime = false">Clear</button>
</div>
<br>


<h1 *ngIf='showtime' >{{ time + diff | date: 'medium' }}</h1>
<h1 *ngIf='showtime' >{{ time + diff }}</h1>